langchain==0.1.14
google-generativeai==0.3.2
faiss-cpu==1.7.4
tiktoken
unstructured
pdf2image
matplotlib
plotly
scikit-learn
pdfplumber
PyMuPDF
pymupdf
# pyheif
# pillow-heif
# onnxruntime==1.16.3
streamlit
openai
pandas
langchain
tqdm
seaborn
sentence-transformers
unstructured-inference
pi-heif
camelot
camelot-py[cv]
